@import 'common/color.less';
@import 'common/layout.less';

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 15px 0;
  padding: 30px;
  .card-view();
  width: 75%;
}
.about-title {
  text-align: center;
}
.about-sub-title {
  color: @color-grey;
  text-align: center;
}
.about-description {
  margin-top: 35px;
}

// RESPONSIVE
@media (max-width: 767px) {
  .about-content {
    width: 100%;
  }
}