.no-border-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  border-radius: 0.25em;
  &:focus {
    border-color: #ced4da;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}